.shoppage{
    .banner{
        background: url(./../img/inventory/banner.jpg);
        margin-top: 90px;
        width: 100%;
        height: 500px;
        .caption{
            @include mid();
            text-align: center;
            h1{
                @include text($fs-main,'Mon-B',85px,$white-cl,none);
            }
            p{
                @include text(20px,'Mon-R',85px,$white-cl,none);
                    font-weight: 700;
                a{
                    @include text(20px,'Mon-R',25px,$white-cl,none);
                    font-weight: 700;
                    cursor: pointer;
                    display: inline-block;
                    &::after{
                        content: "";
                        width: 0%;
                        height: 2px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        display: block;
                        background-color: $white-cl;
                        transition: width 0.6s;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                            transition: width 0.6s;
                        }
                    }
                }  
            }
        }
    }
    .container{
        .row1{
            margin-top: 100px;
            .col-left{
                p{
                    @include text(18px,'Mon-R',28px,$grey-cl,none);
                    font-weight: 700;
                }
            }
            .col-right{
                position: relative;
                .sort_btn{
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    border: 1px solid $grey-cl;
                    cursor: pointer;
                    &-d{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 30px;
                        p{
                            @include text($fs-small,'Mon-R',28px,$grey-cl,none);
                            font-weight: 700;
                            padding-right: 100px;
                        }
                    }
                }
            }
        }
        .row2{
            margin-top: 70px;
            .col-item{
                padding: 0 10px;
                margin-bottom: 40px;
                .card{
                    -webkit-box-shadow: 1px 6px 14px -3px rgba(0,0,0,0.35);
                    -moz-box-shadow: 1px 6px 14px -3px rgba(0,0,0,0.35);
                    box-shadow: 1px 6px 14px -3px rgba(0,0,0,0.35);
                    &-img{
                        position: relative;
                        overflow: hidden;
                        max-height: 317px;
                        img{
                            width: 100%;
                            max-width: 100%;
                        }
                        .sca{
                            transition: transform .6s;
                        }
                        .sale{
                            position: absolute;
                            top: 0;
                            left:0;
                            padding-left: 23px;
                            padding-top: 23px;
                        }
                        &:hover{
                            .sca{
                                transform: scale(1.2);
                                transition: transform .6s;
                            }
                        }
                    }
                    &_d{
                        padding: 35px;
                        &-des{
                            padding: 20px 0 25px 0;
                            h6{
                                @include text(22px,'Mon-R',35px,$black-cl,uppercase);
                                p{
                                    display: inline-block;
                                    color: $grey-cl;
                                    padding-right: 5px;
                                    text-decoration: line-through;
                                }
                            }
                            h4{
                                @include text(22px,'Mon-B',35px,$black-cl,none);
                            }
                        }
                        &-btn{
                            display: inline-block;
                            border-radius: 5px;
                            background: $blue-cl;
                            &-d{
                                display: inline-flex;
                                align-items: center;
                                padding: 10px 32px;
                                cursor: pointer;
                                p{
                                    @include text($fs-p,'Mon-B',28px,$white-cl,uppercase);
                                    padding-right: 5px;
                                }
                                img{
                                    transition: transform 0.4s;
                                }
                                &:hover{
                                    img{
                                        transform: translateX(10px);
                                        transition: transform 0.4s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .row_tab{
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            nav{
                ul{
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    li{
                        margin: 0 8px;
                        display: inline-block;
                        border: 1px solid $grey-cl;
                        border-radius: 50%;
                        transition: all 0.4s;
                        cursor: pointer;
                        img{
                            padding: 20px 24px;
                            
                        }
                        p{
                            padding: 11px 18px;
                            @include text(16px,'Mon-B',32px,$grey-cl,uppercase);
                        }
                        &:hover{
                            background: $blue-cl;
                            transition: all 0.4s;
                            p{
                                color: $white-cl;
                            }
                        }
                    }
                    .active_tab{
                        background: $blue-cl;
                    }
                }
            }
        }
    }
}
@include desktop{
    .shoppage{
        .banner{
            .caption{
                top: 30%;
            }
        }
    }
}
@include tablet{
    .shoppage{
        .banner{
            .caption{
                top: 35%;
            }
        }
        .container{

        }
    }
}
@include mobile{
    .shoppage{
        .banner{
            margin-top: 0;
            .caption{
                top: 40%;
                h1{
                    font-size: 60px;
                    line-height: 60px;
                }
                p{
                    line-height: 55px;
                    a{
                        display: block;
                    }
                }
            }
        }
        .container{
            padding: 0 5px;
            .row1{
                .col-left{
                    padding-bottom: 20px;
                }
                .col-right{
                    .sort_btn{
                        left: 0;
                    }
                }
            }
            .row2{
                margin-top: 100px;
            }
            .row_tab{
                margin:0 0 100px 0;
                nav{
                    ul{
                        li{
                            p{
                                padding: 3px 12px;
                            }
                            img{
                                padding: 12px 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}